.video {
    position: relative;
    /* border: 5px solid red; */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    scroll-snap-type: start;
    margin-bottom: 50px;

}

.video__player {
    /* background-color: red; */
    object-fit: fill;
    width: 100%;
    height: 100%;
}